:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --secondary-text-color-theme-light: #212121;
  --accent-color: #2196f3;
  --primary-logo-color: #000000;
  --secondary-button-color: #188ce8;
  --primary-backgraund-color: #f5f4fa;
  --secondary-backgraund-color: #2f303a;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
}

body {
  background: var(--primary-text-color-theme-dark);
  color: var(--secondary-text-color-theme-light);
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ====== START COMPONENTS ======*/
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 92px;
  color: var(--primary-logo-color);
}

.logo-color {
  color: var(--accent-color);
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-text-color-theme-dark);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

/* ====== END COMPONENTS ======*/
/* ====== START HEADER ======*/
.header {
  border-bottom: 1px solid var(--primary-border-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-icon {
  display: inline-flex;
  margin-right: 10px;
  fill: var(--primary-text-color-theme-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-link {
  color: var(--secondary-text-color-theme-light);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}


.nav-list-active-page {
  color: var(--accent-color);
}

.nav-list-active-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-mail,
.contact-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail:hover .contact-icon,
.contact-mail:focus .contact-icon,
.contact-tel:hover .contact-icon,
.contact-tel:focus .contact-icon {
  fill: var(--accent-color);
}

.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}

/* ====== END HEADER ======*/
/* ====== START HERO ======*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/hero/bg.jpg");
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}

.main-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.modal-btn {
  min-width: 216px;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--secondary-button-color);
}

/* ====== END HERO ======*/
/* ====== START FEATURES ======*/

.features-section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.features-list-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--primary-backgraund-color);
}

.features-icon {
  fill: var(--secondary-text-color-theme-light);
}

.features-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color-theme-light);
}

/* ====== END FEATURES ======*/
/* ====== START TASKS ======*/
.tasks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tasks-list-item {
  position: relative;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.tasks-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.tasks-list-item-title {
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}


/* ====== END TASKS ======*/
/* ====== START TEAM ======*/
.team {
  background-color: var(--primary-backgraund-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-card {
  flex-basis: calc((100% - 3 * 30px) / 4);
  background: var(--primary-text-color-theme-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color-theme-light);
}

/* ====== END TEAM ======*/
/* ====== START CLIENTS ======*/
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list-item {
  flex-basis: calc((100% - 6 * 30px) / 6);
}

.clients-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover,
.clients-logo:focus {
  border: 1px solid var(--accent-color);
}

.clients-logo:hover .clients-icon,
.clients-logo:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== END CLIENTS ======*/
/* ====== START FOOTER ======*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-backgraund-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left-side {
  margin-right: 70px;
}
.footer-social-links {
  margin-right: 92px;
}
.logo-footer {
  font-family: var(--secondary-font-family);
  display: block;
  margin-bottom: 28px;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color-theme-dark);
}

.address-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color-theme-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-address {
  color: var(--primary-text-color-theme-dark);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.footer-social-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-icon {
  fill: var(--primary-text-color-theme-dark);
}
.footer-contact-form-text {
  display: block;
  margin-bottom: 20px;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color-theme-dark);
}
.footer-contact-form-input {
margin-right: 12px;
padding-left: 16px;
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: var(--primary-text-color-theme-dark);
background-color: transparent;
cursor: pointer;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-form-input:focus,
.footer-contact-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.footer-contact-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.footer-contact-form-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 216px;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-form-btn:hover,
.footer-contact-form-btn:focus {
  background-color: var(--secondary-button-color);
}
.send-icon {
  display: inline-flex;
  margin-left: 10px;
}
/* ====== END FOOTER ======*/
/* ====== START PORTFOLIO HERO ======*/
.portfolio-filter {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-btn {
  min-width: 67px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--primary-backgraund-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-works-list-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.portfolio-works-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%)
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  position: absolute;
  padding: 63px 24px;
  text-align: left;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%)
}

.portfolio-works-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-works-list-link:hover .product-thumb::before,
.portfolio-works-list-link:hover .overlay-text {
  opacity: 1;
  transform: translateY(0);

}

.portfolio-works-content-wrapper {
  padding: 20px 24px;
  border-right: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
  border-left: 1px solid var(--secondary-border-color);
}

.portfolio-works-list-title {
  margin-bottom: 4px;
  color: var(--secondary-text-color-theme-light);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-works-list-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color-theme-light);
}

/* ====== END PORTFOLIO HERO ======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  scale: 1;
  width: 528px;
  height: 582px;
  background-color: var(--primary-text-color-theme-dark);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  scale: 0;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.modal-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus .modal-close-button,
.modal-close-btn:hover .modal-close-button{
fill: var(--accent-color);
}
.contact-form-text {
  display: block;
  margin-bottom: 12px;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color-theme-light);
}
.contact-form {
  width: 448px;
  min-height: 200px;
  margin: 0 auto;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-theme-light);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus,
.contact-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.contact-form-input:focus+.contact-form-icon,
.contact-form-input:hover+.contact-form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.komment-form-field {
  display: block;
  margin-bottom: 20px;
}
.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus,
.contact-form-message:hover {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}
.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/vector.svg);
  cursor: pointer;
  content: '';
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
outline: 1px solid var(--accent-color);
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
}
.policy-link {
  color: var(--accent-color);
}
.contact-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 216px;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: var(--secondary-button-color);
}