.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-backgraund-color);
  }
  
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  
  .footer__contact {
    margin-right: 70px;
  }
  .footer__social-links {
    margin-right: 92px;
  }
  .footer__logo {
    font-family: var(--secondary-font-family);
    display: block;
    margin-bottom: 28px;
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color-theme-dark);
  }
  
  .address-list__item:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .address-list__link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color-theme-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }
  
  .address-list__address {
    color: var(--primary-text-color-theme-dark);
  }
  
  .footer__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
  }
  
  .footer__social-list {
    display: flex;
  }
  
  .footer__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer__link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .footer__icon {
    fill: var(--primary-text-color-theme-dark);
  }
  .js-speaker-form__text {
    display: block;
    margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  }
  .js-speaker-form__input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-text-color-theme-dark);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
  
  .js-speaker-form__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 216px;
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-dark);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: var(--secondary-button-color);
    }
  }
  
  .send-icon {
    display: inline-flex;
    margin-left: 10px;
  }